<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UTTT.Ejemplo.Linq.Data.Properties.Settings.PersonaConnectionString"
            connectionString="Data Source=PersonaTareas1.mssql.somee.com;Initial Catalog=PersonaTareas1;Persist Security Info=False;User ID=IrisMartinez23_SQLLogin_1;Password=glzy3cch9w;Packet Size=4096;Workstation ID=PersonaTareas1.mssql.somee.com"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
